<!-- about page  -->
<body>
    <p>
        <br>
        <span >Brandeis was established in 1948 by the American Jewish community at a time when Jews
            and other ethnic and racial minorities, and women,
            faced discrimination in higher education.
            Our visionary founders created a nonsectarian research university that welcomed talented faculty and
            students of all backgrounds and beliefs.
            From the outset, Brandeis focused on undergraduate education, while building a pioneering research
            enterprise.</span>
        <br>
        <br>        
    </p>
</body>

