<!-- main index page  -->
<body>
    <p>
        We Are Proud
        <br>
        <span id="alumnifont">Students & Alumni of</span>
        <span id="universityfont">Brandeis University</span>
        <br>
        <br>
            The Brandeis Students and Alumni Association is a vibrant community thay offers<br>
            lifelong oppertunities for students and alumni to stay connected to Brandeis and<br>
            each other.        
    </p>
</body>
